{% extends 'dashboard.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/estilo_drag.css' %}">

{% endblock %}

{% block content %}
<h2>{{ sub_title }}</h2>
<div><em> * Elimine las historias de usuario que no sean de utilidad o que sean erroneas</em></div>
<br>
<div class="contenedor">
    <div class="lista-acciones" id="lista-acciones">

    </div>
</div>
<br>
<div class="botones">
    <a href="{{ ingreso_url }}" class="btn btn-danger regresar"><i class="fas fa-arrow-left"></i> Regresar </a>
    <a href="{{ backlog }}" class="btn btn-primary continuar"><i class="fas fa-list"></i>  Generar Product Backlog </a>
</div>
<br>




    <!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
	<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="{% static 'js/accion_1.js' %}"></script>
    <script src="{% static 'js/ordenacion_x.js' %}"></script>


{% endblock %}

