{% extends 'dashboard.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/backlog.css' %}">

{% endblock %}

{% block content %}

<h2>{{ sub_title }}</h2>
<div>
    <em> * Arrastre las Historias de Usuario y Ordene la prioridad a su gusto </em>
</div>
<br>
<div class="contenedor">
    <div class="lista-acciones" id="lista-acciones">

    </div>
</div>
<br>
<div class="botones">
     <a href="{{ acciones_url }}" class="btn btn-danger regresar"><i class="fas fa-arrow-left"></i> Regresar</a>
    <a href="{{ grafico }}" class="btn btn-primary continuar"><i class="fas fa-project-diagram"></i> Grafico de Dependencias </a>
</div>
<br>




    <!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
	<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="{% static 'js/backlog.js' %}"></script>


{% endblock %}

