{% extends 'dashboard.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/grafico.css' %}">
     <!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->


{% endblock %}

{% block content %}
<div>
    <a href="{{ acciones_url }}" class="btn btn-primary">Regresar</a>
</div>
<h2>{{ sub_title }}</h2>
<div class="contenedor">
    <svg width="900" height="600"></svg>
</div>
<div class="descripcion">
    <div>
        <p id="name"># Historia de Usuario</p>
        <p>Depedencias: </p>
        <ul id="dependencias">

        </ul>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{% static 'js/grafico.js' %}"></script>










{% endblock %}

